In [ ]:
#Liz Ponting 
#Intro to Python Lab 11

In [3]:
import pandas as pd
flights = pd.read_csv(r'C:\Users\Liz Ponting\Desktop\flights_python.csv')
flights.head()

,year,month,day,dep_time,sched_dep_time,dep_delay,arr_time,sched_arr_time,arr_delay,carrier,flight,tailnum,origin,dest,air_time,distance,hour,minute,time_hour
0,2013,1,1,517.0,515,2.0,830.0,819,11.0,UA,1545,N14228,EWR,IAH,227.0,1400,5,15,2013-01-01 05:00:00
1,2013,1,1,533.0,529,4.0,850.0,830,20.0,UA,1714,N24211,LGA,IAH,227.0,1416,5,29,2013-01-01 05:00:00
2,2013,1,1,542.0,540,2.0,923.0,850,33.0,AA,1141,N619AA,JFK,MIA,160.0,1089,5,40,2013-01-01 05:00:00
3,2013,1,1,544.0,545,-1.0,1004.0,1022,-18.0,B6,725,N804JB,JFK,BQN,183.0,1576,5,45,2013-01-01 05:00:00
4,2013,1,1,554.0,600,-6.0,812.0,837,-25.0,DL,461,N668DN,LGA,ATL,116.0,762,6,0,2013-01-01 06:00:00

In [4]:
planes = pd.read_csv(r'C:\Users\Liz Ponting\Desktop\planes_python.csv')
planes.head()

,tailnum,year,type,manufacturer,model,engines,seats,speed,engine
0,N10156,2004.0,Fixed wing multi engine,EMBRAER,EMB-145XR,2,55,NaN,Turbo-fan
1,N102UW,1998.0,Fixed wing multi engine,AIRBUS INDUSTRIE,A320-214,2,182,NaN,Turbo-fan
2,N103US,1999.0,Fixed wing multi engine,AIRBUS INDUSTRIE,A320-214,2,182,NaN,Turbo-fan
3,N104UW,1999.0,Fixed wing multi engine,AIRBUS INDUSTRIE,A320-214,2,182,NaN,Turbo-fan
4,N10575,2002.0,Fixed wing multi engine,EMBRAER,EMB-145LR,2,55,NaN,Turbo-fan

In [5]:
# Flight Arrival Day vs. Departure Day

In [ ]:
import matplotlib.pyplot as plt

In [ ]:
plt.scatter('dep_delay','arr_delay',data=flights)

In [ ]:
fig, ax = plt.subplots(1,2,figsize=(15,5))
ax[0].hist('arr_delay', data=flights)
ax[0].set_title('Distribution of Arrival Delay')
ax[0].set_xlabel('Arrival Delay (Minutes)')
ax[1].hist('dep_delay', data=flights);
ax[1].set_title('Distribution of Departure Delay')
ax[1].set_xlabel('Departure Delay (Minutes)')

In [ ]:
plt.hist('seats',data=planes)

In [ ]:
fig, ax = plt.subplots(2,1,figsize=(15,5))
ax[0].bar('carrier','distance',data=flights)
ax[1].bar('carrier','air_time',data=flights);

In [ ]:
fig, ax = plt.subplots(3,3,figsize=(15,15))